    <% include parziale/head %>


      <section class="background-image-home border-red" id="search-background">
        <header class="container"  id="search">
          <div class="row">
            <div class="col-sm-12" id="search-title">
              <h1>Scopri il veneto su 2 ruote</h1>
            </div>
            <div class="col-sm-12" id="search-field">
              <form method="get" action="/search">
               <div id="search-field-group">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <input name="q" type="text" autocomplete="off" placeholder="Inserisci una parola o location" size="40" pattern=".{3,}" tabindex="1"  required />
                  <!-- suggerimenti -->
                  <!--<div id="tips" class="border-red">
                    <h6>Suggerimenti</h6>
                    <ul>
                      <li><a href="a" tabindex="2">suggerimento 1</a></li>
                      <li><a href="b" tabindex="3">suggerimento 2</a></li>
                      <li><a href="c" tabindex="4" class="background-yellow">suggerimento 3</a></li>
                    </ul>
                  </div>-->

                </div>
                <input type="submit" value="cerca percorso" tabindex="16">
                <div id="search-advanced-view">
                  <a href="#" tabindex="5"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
                 <!-- ricerca avanzata opzioni *larghezza da calcolare in javascript*-->
                    <div id="search-advanced-options" class="row background-red hidden" >
                        <div class="col-sm-4">
                          <h6>Caratteristiche</h6>
                          <label for="lung">lunghezza max.</label><input type="text" name="lung" id="lung" tabindex="6" placeholder="Km" pattern="[0-9]+{0,3}" maxlength="3"/><br/>
                          <label for="pend">pendenza max.</label><input type="text" name="pend" id="pend" tabindex="7" placeholder="%" pattern="[0-9]+{0,3}" maxlength="3"  /><br/>
                          <label for="type">tipo di strada</label><select name="type" id="type" tabindex="8">
                                                                    <option value="0">tutte</option>
                                                                    <option value="1">asfalto</option>
                                                                    <option value="2">terra</option>
                                                                    <option value="3">ghiaia</option>
                                                                    <option value="4">misto</option>
                                                                  </select><br/>
                          <label for="diff">difficoltà</label><select id="diff" name="diff" tabindex="9">
                                                                    <option value="0">tutte</option>
                                                                    <option value="1">*</option>
                                                                    <option value="2">**</option>
                                                                    <option value="3">***</option>
                                                                  </select><br/>
                        </div>
                        <div class="col-sm-4 col-sm-push-0 col-xs-6 col-xs-push-6">
                          <label><input type="checkbox" name="bambini" value="1" tabindex="10" />vicino a me</label><br />
                          <label><input type="checkbox" name="vicino" value="1" tabindex="11"  />adatto ai bambini</label><br/>
                        </div>
                        <div class="col-sm-4 col-sm-pull-0 col-xs-6 col-xs-pull-6">
                          <h6>Categorie</h6>
                          <label><input type="checkbox" name="cat" value="family-slug" tabindex="12" /> family</label><br />
                          <label><input type="checkbox" name="cat" value="sports-slug" tabindex="13"  /> sports</label><br/>
                          <label><input type="checkbox" name="cat" value="relax-slug" tabindex="14"  /> relax</label><br/>
                          <label><input type="checkbox" name="cat" value="cittaepaesi-slug" tabindex="15"  /> città e paesi</label>
                        </div>
                    </div>
                    <!-- fine search -->
                  </div>
              </form>
            </div>
          </div>
        </header>
      </section>
      <div class="background-yellow">
        <section class="container">
          <section class="row" id="evidenza">
            <header class="col-sm-12">
              <h2>In evidenza</h2>
            </header>
            <section class="col-sm-4 percorso highlight" tabindex="16">
              <a href="#">
                <h3>La magia di Valeggio sul mincio</h3>
                  <section>
                    <div class="row">
                      <div class="col-md-9"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Valeggio sul Mincio (VR)</div>
                      <div class="lunghezza col-md-3"><strong>20 Km</strong></div>
                    </div>
                      <div class="row dettagli">
                        <div class="col-md-6">Difficoltà <span class="full"></span><span></span><span></span></div>
                        <div class="col-md-6">Tempo <strong>1:11:00</strong></div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">Pendenza <strong>2%</strong></div>
                        <div class="col-md-6">Strada <strong>asfalto</strong></div>
                      </div>
                    <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Relax, Città e paesi</p>
                </section>
              </a>
            </section>
            <section class="col-sm-4 percorso highlight" tabindex="17">
              <a href="#">
                <h3>La magia di Valeggio sul mincio</h3>
                  <section>
                    <div class="row">
                      <div class="col-md-9"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Valeggio sul Mincio (VR)</div>
                      <div class="lunghezza col-md-3"><strong>20 Km</strong></div>
                    </div>
                      <div class="row dettagli">
                        <div class="col-md-6">Difficoltà <span class="full"></span><span></span><span></span></div>
                        <div class="col-md-6">Tempo <strong>1:11:00</strong></div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">Pendenza <strong>2%</strong></div>
                        <div class="col-md-6">Strada <strong>asfalto</strong></div>
                      </div>
                    <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Relax, Città e paesi</p>
                </section>
              </a>
            </section>
            <section class="col-sm-4 percorso highlight" tabindex="18">
              <a href="#">
                <h3>La magia di Valeggio sul mincio</h3>
                  <section>
                    <div class="row">
                      <div class="col-md-9"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Valeggio sul Mincio (VR)</div>
                      <div class="lunghezza col-md-3"><strong>20 Km</strong></div>
                    </div>
                      <div class="row dettagli">
                        <div class="col-md-6">Difficoltà <span class="full"></span><span></span><span></span></div>
                        <div class="col-md-6">Tempo <strong>1:11:00</strong></div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">Pendenza <strong>2%</strong></div>
                        <div class="col-md-6">Strada <strong>asfalto</strong></div>
                      </div>
                    <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Relax, Città e paesi</p>
                </section>
              </a>
            </section>
          </section>
        </section>
      </div>
      <main class="container" id="percorsi">
        <div class="row">
          <header class="col-sm-12">
              <h2>Percorsi</h2>
            </header>
        </div>

        <% categoryObj.forEach(function category(obj) {%>
            <article class="row">
              <div class="col-sm-4" tabindex="19">
               <header  style="background-image:url('/images/<%= obj.image%>')">
                 <a href="/<%= obj._id %>">
                   <h3><%= obj.title %></h3>
                    <div><strong>vedi tutti</strong> i percorsi <strong><%= obj._id %></strong></div>
                  </a>
                </header>
              </div>
                  <% obj['percorsi'].forEach(function percorsi(objPercorso) {%>
                    <article class="col-sm-4 percorso" tabindex="20">
                      <a href="/<%= objPercorso.scheda._idcategory + '/' + objPercorso._id %>">
                        <h4><%= objPercorso.scheda.title %></h4>
                          <section>
                            <div class="row">
                              <div class="col-md-9"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= objPercorso.scheda.txt_start %></div>
                              <div class="lunghezza col-md-3"><strong><%= objPercorso.scheda.lunghezza %> Km</strong></div>
                            </div>
                              <div class="row dettagli">
                                <div class="col-md-6">Difficoltà <% for (var i=1;i<4;i++) {%><span <% if (i<=objPercorso.scheda.difficolta) {%>class="full"<%}; %>></span><%};%></div>
                                <div class="col-md-6">Tempo <strong>0:00:00</strong></div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">Pendenza <strong><%= objPercorso.scheda.pendenza %>%</strong></div>
                                <div class="col-md-6">Strada <strong><%= objPercorso.scheda.strada %></strong></div>
                              </div>
                            <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= objPercorso.scheda._idcategory %></p>
                        </section>
                      </a>
                    </article>
                  <% });%>
            </article>
        <% }); %>


        <!-- pubblicità -->
        <aside class="row" id="adv">
            <div class="col-sm-4">
              <p>pubblicità</p>
            </div>
            <div class="col-sm-4">
              <p>pubblicità</p>
            </div>
            <div class="col-sm-4">
              <p>pubblicità</p>
            </div>
        </aside>
      </main>

      <div class="container-fluid">
        <section class="row">
          <div class="col-md-12" style="padding: 0px; width:100%; height:500px;" id="map">

          </div>
        </section>
      </div>

    <% include parziale/footer %>

  <!-- inserire google analytics e jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHISEgt5-1Z6cK7pyntyeQ9ffd3TJa11k&callback=initMapHome"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/bikeaway.js"></script>
  <script>
	$('document').ready(init);

	function init() {
		initCookie();
    initLarghezzaSearch();
	}

  </script>
  </body>
</html>
